body, html {
height: 100%;
margin: 0;
font: 400 15px/1.8 "Lato", sans-serif;
color: #777;
justify-content: space-between;
scroll-behavior: smooth;
}

.img {
position: relative;
opacity: 0.8;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-image: url("/assets/images/napes.png");
height: 75%;
}

.caption {
position: absolute;
left: 0;
top: 50%;
width: 100%;
text-align: center;
color: #000;
font: 400 15px/1.8 "Lato", sans-serif;
display: flex;
flex-direction: column;
align-items: center;
}

.caption span.border1,
.caption span.border2, {
  background-color: black;
  color: #f8f8ff;
  margin: 10px;
}
.caption span.border1 {
background-color: black;
color: #f8f8ff;
padding: 20px;
font-size: 20px;
letter-spacing: 10px;
}

.caption span.border2 {
background-color: black;
color: #f8f8ff;
padding: 25px;
font-size: 20px;
letter-spacing: 10px;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
  .caption span.border1,
  .caption span.border2 {
    padding: 12px;
    font-size: 18px;
  }
}

/* Media Query for Tablets */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .caption span.border1,
  .caption span.border2 {
    padding: 15px;
    font-size: 20px;
  }
}